.light .slidev-layout {
  a {
    color: inherit;
  }
}

.slidev-page .slidev-layout {
  p,
  a,
  li {
    @apply text-2xl;
  }

  li {
    @apply leading-relaxed;
  }

  &.new-section {
    @apply flex flex-col items-center justify-center;
    h1 {
      @apply text-5xl;
    }
  }
}

img[src="https://koki.me/images/profile.png"]
{
  background-color: white;
}
